<section [class]="cssCard">
  <div>
    <h3 class="font-bold">Choose month range to calculate budget</h3>
  </div>

  <form class="flex gap-5 items-end" [formGroup]="monthRangeForm">
    <app-datetime-picker formControlName="startMonth" label="Start month" type="month"></app-datetime-picker>

    <app-datetime-picker formControlName="endMonth" label="End month" type="month"></app-datetime-picker>

    <app-button theme="primary" (clickHandler)="applyMonthRange()">Apply</app-button>
  </form>
</section>
